/node_modules
/.env
/frontend/node_modules
/frontend/dist
/frontend/.parcel-cache
/backend/controllers/AdminPanel.controller.js
/backend/models/AdminPanel.model.js
/backend/routes/AdminPanel.routes.js